table {
    border-collapse: collapse;
    }

    tbody {
        background-color: rgb(240, 240, 240);
    }

    table, td, th {
        font-family: Helvetica, sans-serif;
        text-align: center;
        font-size: 8px;
        margin: auto;
    }

    td {
        height: 20px;   
    }

    h1 {

        font-size: 5.5px;
        font-family: Helvetica, sans-serif;
        color: gray;
        margin-left: 23%;
    }

    #Period {
        background-color: rgb(224, 224, 224);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(189, 189, 189) white white;
        padding: 0%;
        height: 20px;
        width: 40px;
        margin: auto;

    }

    #Android {
        background-color: rgb(225, 242, 195);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(164, 191, 118) white white;
        padding: 0%;
        height: 20px;
        width: 75px;
    }

    #iOS {
        background-color: rgb(198, 216, 241);;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(114, 146, 190) white white;
        padding: 0%;
        height: 20px;
        width: 75px;
    }

    #Windows {
        background-color: rgb(223, 213, 237);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(106, 82, 137) white white;
        padding: 0%;
        height: 20px;
        width: 75px;
    }

    #Others {
        background-color: rgb(241, 220, 201);
        border-style: solid;
        border-width: 1px;
        border-color: rgb(225, 162, 105) white white;
        padding: 0%;
        height: 20px;
        width: 75px;
    }

    .first {
        font-weight: bold;
        border-style: solid;
        border-width: 1px;
        border-color: white white white;
    }

    .second {
        border-style: solid;
        border-width: 1px;
        border-color: white white white;
        margin:auto;
    }

    .third {
        border-style: solid;
        border-width: 1px;
        border-color: white white white;
    }

    .fourth {
        border-style: solid;
        border-width: 1px;
        border-color: white white white;
        align-content: center;
    }

    .fifth {
        border-style: solid;
        border-width: 1px;
        border-color: white white white;
    }